main {
    background-color:#758AA6 ;
    width: 100%;

}

section {
    margin: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    min-height: calc(100vh - 100px);
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    max-width: 1200px;

}
